src/main/mule/ttd-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="TTD-sAPI-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="TTD-sAPI-config" api="TTD-sAPI.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="f1fafcd2-655a-489b-904a-f8e6f9938fad" file="properties/local.yaml" />
    <flow name="TTD-sAPI-main">
        <http:listener config-ref="TTD-sAPI-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="TTD-sAPI-config" />
    </flow>
    <flow name="TTD-sAPI-console">
        <http:listener config-ref="TTD-sAPI-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="TTD-sAPI-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\advertisers:application\json:TTD-sAPI-config">
        <logger level="INFO" message="put:\advertisers:application\json:TTD-sAPI-config" />
        <ee:transform doc:name="Transform Message" doc:id="1e458c7e-a5f2-4b6c-9ebe-5304234f6433">
            <ee:message>
                <ee:set-payload><![CDATA[payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="d3bbccfc-649e-4a52-ad58-1f0bec659f9a" message="#[payload]" />
        <ee:transform doc:name="Transform Message" doc:id="3041d388-7eb2-49f9-bbe8-b2458e3c25a1">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Sucessfully inserted into TTD"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\insertion-orders:application\json:TTD-sAPI-config">
        <logger level="INFO" message="post:\insertion-orders:application\json:TTD-sAPI-config" />
        <ee:transform doc:name="Transform Message" doc:id="6138a90a-2e2c-4a59-a024-73be06c1e70f">
            <ee:message>
                <ee:set-payload><![CDATA[payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="1800da9a-29df-4d79-a99c-f2f61b41a80b" message="#[payload]" />
        <ee:transform doc:name="Transform Message" doc:id="d2d296f4-3321-479b-8a59-38cba5994da3">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Sucessfully inserted into TTD"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
